* {
  background-color: black;
  color: aqua;
}

h2 {
  text-transform: capitalize;
  font-weight: 700;
}

.btn {
  border: none;
  background-color: aqua;
  color: black;
  padding: 0.5rem 0.8rem;
  font-size: 1.1rem;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 6px 3px darkcyan;
  font-weight: 900;
  text-transform: uppercase;
}
